*{
  margin: 0px;
  padding: 0px;
}

body {
    background-color: #6dc068;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
  margin: 30px;
  padding: 30px;
  font-size: 20px;
}

.wholepage {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.johnny {
  width: 40%;
}


#text-box {
    position: relative;
}


