*{
  margin: 0px;
  padding: 0px;
}




body {
    background-color: #6dc068;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
  margin: 30px;
  padding: 30px;
  font-size: 20px;
}

img {
  width: 40%;
}

#three-button {
  background-color: transparent;
  border: none;
  outline: none;
}

#five-button {
  background-color: transparent;
  border: none;
  outline: none;
}

#six-button {
  background-color: transparent;
  border: none;
  outline: none;
}
#seven-button {
  background-color: transparent;
  border: none;
  outline: none;
}
#eight-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.no-tree {
  width: 10%;
}

.door {
  width: 10%;
}

.dave {
  width: 20%;
}


.wholepage {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.above {
  flex: 3;
}


.text-box {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.img {
  flex: 1;
}

.text {
  flex: 2;
}


